@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&family=Righteous&display=swap');
@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";

/*----- REGRAS GERAIS -----*/

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

section {
    margin: 0 70px 1.5em 70px;
}

body {
    padding-top: 10rem;
    font-family: 'Poppins', sans-serif;
    background-color: #161616;
    color: whitesmoke;
    height: 100%;
    width: 100vw;
}

/*----- HEADER  -----*/

header {
    position: relative;
    top: -10rem;
    background-color: #161616;
    z-index: 1;
}

.img-logo {
    position: absolute;
    top: 0;
    left: 4.5rem;
    width: 100px;
}

.img-logo img{
    border-radius: 0 0 10px 10px;
}

.nav {
    position: fixed;
    top: 0;
    right: 0;
    width: 40%;
    height: 65px;
    border-radius: 0 0 10px 10px;
    background-color: #272727;
    margin-right: 4.5rem;
}

.nav-container {
    padding-top: 1rem;
    color: whitesmoke;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav_container {
    margin: auto;
}

.nav-item {
    color: white;
}

.nav-item:hover {
    color: rgb(250, 176, 37);
}

/*----- CARDS -----*/

.cards {
    margin: 0;
    height: 1000px;
}

.film_container {
    position: relative;
    top: -10rem;
    z-index: 0;
    max-width: 100%;
    height: 800px;
    background: url(/cinecomp/img/film-background.png);
    background-attachment: fixed;
    background-size: cover;
}

.intro {
    top: 9rem;
    margin: 0 2.5rem;
    font-size: 1.5rem;
}

.intro h1{
    color: whitesmoke;
}

.generos_container {
    padding: 2.5rem;
    box-sizing: border-box;
    position: relative;
    top: -24rem;
}

.card-cont {
    transition: all .5s ease;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    box-sizing: border-box;
}

.card-cont span {
    position: relative;
    display: block;
    top: -3rem;
    left: 3rem;
}


.card-genre {
    border-radius: 15px;
    position: relative;
    top: 0;
    transition: all .8s ease;
    -moz-transition: all 0.8s;
    -webkit-transition: all 0.8s;
}


.card-cont:hover{
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.05);
}

/*----- INTRODUCAO -----*/

.introducao_content {
    text-align: center;
}

.introducao_content h4 {
    font-weight: 300;
    margin-bottom: 0;
    color: rgb(250, 176, 37);
}

.introducao_content h1 {
    font-size: 2.5rem;
    font-weight: 900;
    margin-top: 0;
    color: rgb(250, 176, 37);
}

.introducao_content iframe {
    width: 550px;
    height: 310px;
    border-radius: 10px;
    box-shadow: 1px 1px 7px 2px black;
}

.introducao_content button {
    display: block;
    margin: 2rem auto;
    border-radius: 10px;
    font-size: 1.3rem;
    background-color: rgb(250, 176, 37);
}

.container__origem p {
    text-align: left;
}

/*----- GÊNEROS -----*/

.genero-content h1 {
    color: rgb(250, 176, 37);
}

.genero_intro {
    margin-bottom: 5rem;
}

.genero_back {
    position: relative;
    left: -23%;
    background: url(/cinecomp/img/);
    background-size: cover;
    width: 1980px;
    height: 500px;
    background-attachment: fixed;
}

.genero_card {
    position: relative;
    top: -8rem;
    left: 7rem;
    width: 500px;
    height: 500px;
    border-radius: 15px;
    padding: 2rem;
    color: #161616;
    background: rgba(255, 255, 255, 0.65);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    backdrop-filter: blur( 11px );
    -webkit-backdrop-filter: blur( 11px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.genero_card p {
    font-size: 1.5rem;
    font-weight: 600;
}

.top_card {
    display: flex;
    align-items: center;
    margin-bottom: 2.5rem;
}

.top_card h1 {
    font-size: 3rem;
    margin: 0;
}

.genero_card .bx {
    color: #363636;
    font-size: 3rem;
}

/*terror*/
.genero_terror {
    margin-bottom: 15rem;
}
.genero_back.terror {
    background: url(/cinecomp/img/horror-genre.png);
    background-attachment: fixed;
}
.genero_card.terror {
    background: rgba( 248, 226, 185, 0.65 );
}

/*aventura*/
.genero_aventura{
    margin-bottom: 15rem;
}
.genero_back.aventura {
    background: url(/cinecomp/img/adventure-genre.png);
    background-attachment: fixed;
}
.genero_card.aventura {
    color: whitesmoke;
    background: rgba(0, 105, 121, 0.25);
    backdrop-filter: blur( 12px );
}
.top_card.aventura h1,.top_card.aventura .bx{
    color: whitesmoke;
}

/*romance*/
.genero_romance {
    margin-bottom: 15rem;
}
.genero_back.romance {
    color: whitesmoke;
    background: url(/cinecomp/img/romantic-genre.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.genero_card.romance {
    color: whitesmoke;
    background: rgba( 255, 107, 92, 0.25 );
}
.top_card.romance h1,.top_card.romance .bx{
    color: whitesmoke;
}

/*ficção*/
.genero_back.ficcao {
    background: url(/cinecomp/img/scifi-genre.png);
    background-attachment: fixed;
}
.genero_card.ficcao {
    backdrop-filter: blur( 3px );
}
.top_card.ficcao {
    align-items: flex-end;
}
.top_card.ficcao .bx {
    position: relative;
    left: -9.5rem;
}


/*----- HISTORIA -----*/

.historia h1 {
    color: rgb(250, 176, 37);
}

/*----- SOBRE -----*/
.sobre h1, .sobre h2{
    color: rgb(250, 176, 37);
}

/*----- REFERENCIAS -----*/
.referencias h1 {
    color: rgb(250, 176, 37);
}

/*----- FOOTER -----*/
footer {
    position: relative;
    box-sizing: border-box;
    padding: 5px;
    text-align: center;
    font-size: 13px;
    background-color: #272727;
    color: whitesmoke;
}

/*----- BREAKPOINTS -----*/
@media  (min-width: 1900px){
    .genero_card {
        left: 19rem;
    }
}

@media  (max-width:1366px){
    .genero_back {
        left: -11%;
    }
}
