@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&family=Righteous&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

section {
    margin: 0 70px 1.5em 70px;
}

.container {
    text-align: center;
    margin: 0 30px;
}

body {
    font-family: 'Poppins', sans-serif;
}

.nav {
    background-color: #272727;
    margin-bottom: 1.5em;
}

.nav-container {
    color: whitesmoke;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.img-logo {
    width: 50px;
    height: 50px;
}

.img-logo img {
    width: 50px;
}

.nav_container {
    margin: auto;
}

.img_logo {
    display: block;
    margin: auto;
}

h1 {
    font-weight: bold;
    text-align: center;
}

.nav-item {
    color: white;
}

.nav-item:hover {
    color: rgb(250, 176, 37);
}


footer {
    position: relative;
    text-align: center;
    font-size: 13px;
    background-color: #272727;
    color: whitesmoke;
}