@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&family=Righteous&display=swap');
@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

img {
	max-width: 100%;
    max-height: 100%;
}

img[data-src] {
	opacity: 0;
	transform: scale(0);
}
img[src] {
	opacity: 1;
	transform: scale(1);
	transition: .3s ease-in-out;
}

section {
    margin: 0 70px 1.5em 70px;
}

.container {
    text-align: center;
    margin: 0 30px;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #272727;
    color: whitesmoke;
    height: 100vh;
}

.nav {
    background-color: #272727;
    margin-bottom: 1.5em;
}

.nav-container {
    color: whitesmoke;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.img-logo {
    width: 50px;
    height: 50px;
}

.img-logo img {
    width: 50px;
}

.nav_container {
    margin: auto;
}

.img_logo {
    display: block;
    margin: auto;
}

h1 {
    font-weight: bold;
    text-align: center;
}

.nav-item {
    color: white;
}

.nav-item:hover {
    color: rgb(250, 176, 37);
}

.container__origem p {
    text-align: left;
}

footer {
    position: relative;
    text-align: center;
    font-size: 13px;
    background-color: #272727;
    color: whitesmoke;
}